/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.production
.env.*
!.env.example

.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
pnpm-debug.log
/.fleet
/.idea
/.vscode
.vs/
.DS_Store
Thumbs.db
/composer.phar
